.home-page-header {
  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #4F27BF;
}

.home-page-header__title {
  font-family: 'Montserrat';
  font-style: normal;
  color: #FFFFFF;
}

.home-page-header__login {
  box-sizing: border-box;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1191px;
  top: 16px;
  border: none;
  background: #4F27BF;
}

.home-page-header__login-text {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.home-page-main {
  position: absolute;
  width: 300px;
  height: 944px;
  left: 0px;
  top: 81px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
}
